    <Modal @ref="@PlaceModal">
        <ModalContent Size="ModalSize.Default" Centered>
            <ModalHeader>
                <ModalTitle>
                    @PageHeader
                </ModalTitle>
                <CloseButton/>
            </ModalHeader>
            <ModalBody>
            @if (displayObject is not null)
            {
                <EditForm Model="@displayObject">
                    <DataAnnotationsValidator/>
                    <Field Horizontal>
                        <FieldLabel ColumnSize="ColumnSize.Is1.OnMobile">First Name</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <TextEdit ReadOnly Text="@displayObject?.FirstName"/>
                        </FieldBody>
                        <FieldLabel ColumnSize="ColumnSize.Is1.OnMobile">Last Name</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <TextEdit ReadOnly Text="@displayObject?.LastName"/>
                        </FieldBody>
                    </Field>
                    <Field Horizontal>
                        <FieldLabel ColumnSize="ColumnSize.Is1.OnMobile">Email</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <TextEdit ReadOnly Text="@displayObject?.Email"/>
                        </FieldBody>
                        <FieldLabel ColumnSize="ColumnSize.Is1.OnMobile">City</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <TextEdit ReadOnly Text="@displayObject?.City"/>
                        </FieldBody>
                    </Field>
                    <Field Horizontal>
                        <FieldLabel ColumnSize="ColumnSize.Is1.OnMobile">Zip</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <TextEdit ReadOnly Text="@displayObject?.Zip"/>
                        </FieldBody>
                        <FieldLabel ColumnSize="ColumnSize.Is1.OnMobile">Gender</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <TextEdit ReadOnly Text="@displayObject?.Gender"/>
                        </FieldBody>
                    </Field>
                    <Field Horizontal>
                        <FieldLabel ColumnSize="ColumnSize.Is7.OnMobile"></FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is5.OnMobile">
                            <Button Color="Color.Secondary" Clicked="@CloseModal">Close</Button>
                        </FieldBody>
                    </Field>
                </EditForm>
            }
            </ModalBody>
        </ModalContent>
    </Modal>
